@()(implicit messages: Messages)


<section id="contact">
  <div class="container navbar-default">
    <div class="row">
      <div class="text-center">
        <a href="#"><i class="fa facebook fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fa google fa-google fa-2x"></i></a>
        <a href="#"><i class="fa twitter fa-twitter fa-2x"></i></a>
        <a href="#"><i class="fa instagramm fa-instagram fa-2x"></i></a>
      </div>
      <div class="col-xs-6 col-md-3 column">
        <ul class="nav navbar navbar-nav">
          <li><a href="about-us.html">@Messages("contact")</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3 column">
        <ul class="nav navbar navbar-nav">
          <li><a href="#">@Messages("agb")</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3 column">
        <ul class="nav navbar navbar-nav">
          <li><a href="#">@Messages("disclaimer")</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3 column">
        <ul class="nav navbar navbar-nav">
          <li><a href="#">@Messages("impressum")</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<footer id="footer">
  <p>Copyright © 2015 Gymix GmbH</p>
</footer>